<div class="avatar">
	<img src="<%= doc['user']["profile_image_url_https"] %>" />
</div>

<div class="main">
	<span class="name"><%= doc["name"] %></span>
	<span class="username">
		<a target="_blank" href="http://twitter.com/<%= doc['user']['screen_name'] %>">@<%= doc['user']["screen_name"] %></a>
	</span>
	<div class="content"><%= doc["text"] %></div>
</div>