<header>
	<div class="container">
		<div class="row-fluid">
			<h1>whitebox <small>search your social networks</small></h1>
		</div>
	</div>
</header>

<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<div class="search-main">
				<div class="reset">
					<%= form_tag root_path, :method => "get", :class => "form-search" do %>
						<input id="query" name="query" placeholder="enter your search term" type="text" value="" ng-model="query" ng-keyup="search(query)">
						<input class="btn" name="commit" type="button" value="Search" ng-click="search(query)">
					<% end %>
				</div>
			</div>

		</div>
	</div>
	
	<% if @message != "" %>
		<p class="document flash hide"><i><%= @message %></i><%= image_tag('loading.gif'); %></p>
	<% end %>
	
	<div class="row-fluid">
		<div class="span6 document">

			<!-- Twitter -->
			<img class="source" src="/assets/twitter.jpg" width="200px"/>
			<ul>
				<li class="tweet" ng-repeat="tweet in tweets">
					<%= render "tweet" %>
				</li>
			</ul>

		</div>

		<div class="span6 document">

			<!-- Facebook -->
			<a href="http://auth.whitebox.dev/facebook">
			<img class="source" src="/assets/facebook.jpg" width="200px" />
			</a>
			
			<% if not cookies[:fb].present? %>
			<p><a href="http://auth.whitebox.dev/facebook">Authenticate</a></p>
			<% end %>

			<ul>
				<li class="tweet" ng-repeat="tweet in tweets">
					<%= render "facebook" %>
				</li>
			</ul>
			
		</div>

	</div>

</div>