<header>
	<div class="container">
		<div class="row-fluid">
			<h1>whitebox <small>search your social networks</small></h1>
		</div>
	</div>
</header>

<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<div class="search-main">
				<div class="reset">
					<%= form_tag root_path, :method => "get", :class => "form-search" do %>
						<%= text_field_tag :query, @query || '', :placeholder => "enter your search term" %>
						<%= submit_tag 'Search', :class => "btn" %>
					<% end %>
				</div>
			</div>

		</div>
	</div>
	
	<% if @message != "" %>
		<p class="document flash hide"><i><%= @message %></i><%= image_tag('loading.gif'); %></p>
	<% end %>
	
	<div class="row-fluid">
		<div class="span6 document">

			<h2>Tweets</h2>

			<% if @tweets.present? %>
				<ul>
				<% @tweets.each_with_index do |doc, index| %>

					<li class="tweet">
						<%= doc %>
					</li>
				
				<% end %>
				</ul>
			<% end %>

		</div>

		<div class="span6 document">

			<h2>Links</h2>

			<% if @links.present? %>
				<ul>
				<% @links.each_with_index do |doc, index| %>

					<li class="tweet">
						<%= doc %>
					</li>
				
				<% end %>
				</ul>
			<% end %>
			
		</div>

	</div>


	<div class="row-fluid">
		<div class="span6 document">

			<h2>Videos</h2>

			<% if @videos.present? %>
				<ul>
				<% @videos.each_with_index do |doc, index| %>

					<li class="tweet">
						<%= doc %>
					</li>
				
				<% end %>
				</ul>
			<% end %>

		</div>

		<div class="span6 document">

			<h2>Photos</h2>

			<% if @photos.present? %>
				<ul>
				<% @photos.each_with_index do |doc, index| %>

					<li class="tweet">
						<%= doc %>
					</li>
				
				<% end %>
				</ul>
			<% end %>
			
		</div>

	</div>

</div>